Repository rayanfer32/nexus-market-cap, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, documentation, pages, styles:global, styles, workflow

fix: test
  .github/release-drafter.yml
Labels: none

fix: testing
  .github/release-drafter.yml
  .github/workflows/labeler.yml
Labels: none

feat: introduce index file and views folder structure
  src/components/Advertisement/index.ts
  src/components/Footer/index.ts
  src/components/Header/index.ts
  src/components/Home/Homepage.tsx
  src/components/Layout/Layout.js
  src/components/TickerBar/index.ts
  src/components/TokenTable/index.ts
  src/components/common/index.ts
  src/pages/index.tsx
  src/views/Home/Homepage.module.scss
  src/views/Home/Homepage.tsx
  src/views/Home/index.ts
  src/views/Layout/Layout.module.scss
  src/views/Layout/Layout.tsx
  src/views/Layout/index.ts
  tsconfig.json
Labels: chore, pages

feat: add custom link component custom link used in alternative to next/Link
  src/components/common/CustomLink/CustomLink.tsx
  src/components/common/CustomLink/index.ts
Labels: none

refactor: support constants as individually destructure file structure for the constants used
  src/constants/colors.ts
  src/constants/index.ts
  src/constants/routes.ts
  src/pages/404.tsx
  src/utils/cusomLog.ts
Labels: pages

feat: get string from route link
  src/utils/parseLink.ts
Labels: none

feat: support dev mode view components while develpment time and test components
  src/pages/__dev__/index.tsx
  src/views/DevView/DevView.tsx
  src/views/DevView/DevViewDebug.tsx
  src/views/DevView/devView.module.scss
  src/views/DevView/index.ts
Labels: pages

.github/labeler.yml:

# Add 'chore' label to any root file changes

# analytics:
#   -

chore:
  - '*'

documentation:
  - any: ['docs/**/*']

pages:
  - src/pages/**/*

'styles:global':
  - any: ['src/styles/**/*.scss', 'src/styles/*.scss']

styles:
  - any: ['src/components/**/*.scss', 'src/pages/**/*.scss']

workflow:
  - any:
      ['.github/**/*', '.husky/**/*', '.vscode/**/*', '.github/workflow/**/*']

feat:
  - pr:
      title:
        - 'feat:*'
  - commits:
      title:
        - 'feat:*'

bug:
  - pr:
      title:
        - 'fix:*'
  - commits:
      title:
        - 'fix:*'

test:
  - src/**/*.test.js
  - src/**/*.test.ts
  - src/**/*.spec.js
  - pr:
      title:
        - 'test:*'
      body:
        - any: ['*test*']
  - commits:
      title:
        - 'test:*'
