Repository rayanfer32/nexus-market-cap, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, chore:pages, source, styles:global, test

.github/labeler.yml:

# Add 'chore' label to any root file changes
chore:
  - '*'

'chore:pages':
  - src/pages/**/*

source:
  - src/*

'styles:global':
  - any: ['src/styles/**/*.scss', 'src/styles/*.scss']

test:
  - src/**/*.test.js
  - src/**/*.test.ts

feat: homepage and layout setup
  package.json
  src/assets/icons/nexusBlue.svg
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Home/Advertisement.tsx
  src/components/Home/Homepage.module.scss
  src/components/Home/Homepage.tsx
  src/components/Home/TickerBar.module.css
  src/components/Home/TickerBar.tsx
  src/components/Home/TokenTable.tsx
  src/components/Layout/Layout.js
  src/components/Layout/Layout.module.scss
  src/pages/index.tsx
  yarn.lock
Labels: chore, chore:pages

feat: add fonts
  src/assets/fonts/MavenPro-VariableFont_wght.ttf
  src/components/Advertisement/Advertisement.module.scss
  src/components/Advertisement/Advertisement.tsx
  src/components/Home/Advertisement.tsx
  src/components/Home/Homepage.tsx
  src/components/TickerBar/TickerBar.module.scss
  src/components/TickerBar/TickerBar.tsx
  src/components/TokenTable/TokenTable.module.scss
  src/components/TokenTable/TokenTable.tsx
  src/styles/_fonts.scss
  src/styles/globals.scss
Labels: styles:global

feat: add redux, upgrade next@12
  package.json
  src/pages/_app.tsx
  src/store/store.ts
  src/utils/getEnv.ts
  yarn.lock
Labels: chore, chore:pages

fix: remove unwanted folder path
  tsconfig.json
Labels: chore

feat: add axios, react query, generate token placeholder icons
  package.json
  src/assets/fonts/Jomhuria-Regular.ttf
  src/assets/icons/nexusTokenBgDark.svg
  src/assets/icons/tokenbgDark.png
  src/components/TokenTable/TokenTable.module.scss
  src/components/TokenTable/TokenTable.tsx
  src/constants/index.ts
  src/pages/_app.tsx
  src/styles/_fonts.scss
  src/styles/_variables.scss
  src/styles/globals.scss
  yarn.lock
Labels: chore, chore:pages, styles:global

chore(dangerfile): add dangerfile to project
  dangerfile.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: chore

ci(github): add template for pr and issue report
  .github/issue_template/bug_report.md
  .github/issue_template/feature_req.md
  .github/pull_request_template.md
Labels: none

style(font): update font base styles
  src/assets/fonts/MavenPro-Black.ttf
  src/assets/fonts/MavenPro-Bold.ttf
  src/assets/fonts/MavenPro-ExtraBold.ttf
  src/assets/fonts/MavenPro-Medium.ttf
  src/assets/fonts/MavenPro-Regular.ttf
  src/assets/fonts/MavenPro-SemiBold.ttf
  src/assets/fonts/MavenPro-VariableFont_wght.ttf
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/styles/_fonts.scss
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_typography.scss
  src/styles/base/_general.scss
  src/styles/base/_index.scss
  src/styles/base/_reset.scss
  src/styles/base/_scrollbar.scss
  src/styles/globals.scss
Labels: styles:global

style: add token icons
  src/assets/icons/TokenIconType1.svg
  src/assets/icons/TokenIconType2.svg
  src/assets/icons/tokenbgLight.svg
  src/components/TickerBar/TickerBar.module.scss
  src/components/TokenTable/TokenTable.module.scss
  src/components/TokenTable/TokenTable.tsx
  src/pages/_document.tsx
  src/styles/_colors.scss
  src/styles/_mixins.scss
  src/styles/globals.scss
Labels: chore:pages, styles:global
