Repository rayanfer32/nexus-market-cap, pull requests merged in 2022-07, with the labels that each got.

#2 chore(dangerfile): add dangerfile to project
  dangerfile.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: chore

#4 style(font): update font base styles
  src/assets/fonts/MavenPro-Black.ttf
  src/assets/fonts/MavenPro-Bold.ttf
  src/assets/fonts/MavenPro-ExtraBold.ttf
  src/assets/fonts/MavenPro-Medium.ttf
  src/assets/fonts/MavenPro-Regular.ttf
  src/assets/fonts/MavenPro-SemiBold.ttf
  src/assets/fonts/MavenPro-VariableFont_wght.ttf
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/styles/_fonts.scss
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_typography.scss
  src/styles/base/_general.scss
  src/styles/base/_index.scss
  src/styles/base/_reset.scss
  src/styles/base/_scrollbar.scss
  src/styles/globals.scss
Labels: styles:global

#18 ci(danger): add danger workflow to PR
  .github/workflows/dangerjs.yml
  dangerfile.ts
  package.json
  tsconfig.json
  yarn.lock
Labels: chore

#12 style: add token icons, AD component styles and schema
  .github/labeler.yml
  next.config.js
  public/ads/1.png
  src/assets/data/adsData.json
  src/assets/icons/TokenIconType1.svg
  src/assets/icons/TokenIconType2.svg
  src/assets/icons/tokenbgLight.svg
  src/components/Advertisement/Advertisement.module.scss
  src/components/Advertisement/Advertisement.tsx
  src/components/TickerBar/TickerBar.module.scss
  src/components/TokenTable/TokenTable.module.scss
  src/components/TokenTable/TokenTable.tsx
  src/pages/_document.tsx
  src/styles/_index.scss
  src/styles/_variables.scss
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_color.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_theme.scss
  src/styles/abstracts/_typography.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_default.scss
  src/styles/base/_index.scss
  src/styles/functions/_getData.scss
  src/styles/functions/_index.scss
  src/styles/functions/_toRem.scss
  src/styles/globals.scss
  src/styles/mixins/_index.scss
  src/styles/mixins/_mediaQuery.scss
  src/styles/mixins/_shadow.scss
  src/utils/classnames.ts
Labels: chore, styles:global, chore:pages

#23 feat: add the custom logger
  src/constants/colors.ts
  src/constants/index.ts
  src/utils/cusomLog.ts
  tsconfig.json
Labels: chore, utils

#25 refactor: custom logger function to class
  package.json
  src/components/Header/Header.tsx
  src/components/TokenTable/TokenTable.tsx
  src/pages/_app.tsx
  src/store/store.ts
  src/utils/cusomLog.ts
  yarn.lock
Labels: chore, chore:pages, utils

#34 feat: add dev mode and pullout page components to views folder
  src/components/Advertisement/index.ts
  src/components/Footer/index.ts
  src/components/Header/index.ts
  src/components/Home/Homepage.tsx
  src/components/Layout/Layout.js
  src/components/TickerBar/index.ts
  src/components/TokenTable/index.ts
  src/components/common/CustomLink/CustomLink.tsx
  src/components/common/CustomLink/index.ts
  src/components/common/index.ts
  src/constants/colors.ts
  src/constants/index.ts
  src/constants/routes.ts
  src/pages/404.tsx
  src/pages/__dev__/index.tsx
  src/pages/index.tsx
  src/utils/cusomLog.ts
  src/utils/parseLink.ts
  src/views/DevView/DevView.tsx
  src/views/DevView/DevViewDebug.tsx
  src/views/DevView/devView.module.scss
  src/views/DevView/index.ts
  src/views/Home/Homepage.module.scss
  src/views/Home/Homepage.tsx
  src/views/Home/index.ts
  src/views/Layout/Layout.module.scss
  src/views/Layout/Layout.tsx
  src/views/Layout/index.ts
  tsconfig.json
Labels: chore, feat, utils, chore:pages

#35 ci: update release draft template and pr labeler
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  src/components/Advertisement/index.ts
  src/components/Footer/index.ts
  src/components/Header/index.ts
  src/components/TickerBar/index.ts
  src/components/TokenTable/index.ts
  src/components/common/CustomLink/index.ts
  src/components/common/index.ts
  src/constants/colors.ts
  src/constants/routes.ts
  src/utils/cusomLog.ts
  src/utils/parseLink.ts
  src/views/DevView/index.ts
  src/views/Home/index.ts
  src/views/Layout/index.ts
Labels: workflow

#36 feat: integrate with strapi
  src/components/Pre/Pre.tsx
  src/components/TokenTable/TokenTable.tsx
  src/constants/index.ts
  src/pages/_app.tsx
Labels: bug, feat, pages, test

#37 fix: adding multi label
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .github/workflows/release-drafter.yml
Labels: bug, skip

#38 feat: never use console
  .eslintrc.json
  src/components/TokenTable/TokenTable.tsx
  src/pages/_app.tsx
  src/utils/customLog.ts
Labels: feat, pages, skip

#43 feat: add react-table
  .gitignore
  .vscode/settings.json
  package.json
  src/components/Table/DynamicPagination.jsx
  src/components/Table/Pagination.module.scss
  src/components/Table/Pagination.tsx
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/components/TokenTable/TokenTable.tsx
  src/utils/common/debounce.ts
  yarn.lock
Labels: chore, feat

#46 fix: react table to handle undefined data
  src/components/Table/Table.tsx
  src/components/TokenTable/TokenTable.tsx
Labels: bug

#39 feat: add menu page
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/common/Brand/Brand.module.scss
  src/components/common/Brand/Brand.tsx
  src/components/common/Brand/index.ts
  src/components/common/Menu/MenuPage/MenuPage.module.scss
  src/components/common/Menu/MenuPage/MenuPage.tsx
  src/components/common/Menu/index.ts
  src/store/slices/homepageSlice.ts
  src/store/store.ts
  src/styles/base/_general.scss
  src/views/Layout/Layout.tsx
Labels: feat

#48 fix: lint only staged files
  package.json
  yarn.lock
Labels: bug, chore, skip
