Repository rayanfer32/nexus-market-cap, pull requests merged in 2022-08, with the labels that each got.

#42 feat: add footer contents
  .vscode/settings.json
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Table/Pagination.tsx
  src/components/TickerBar/TickerBar.module.scss
  src/components/TokenTable/TokenTable.module.scss
  src/components/common/Menu/MenuPage/MenuPage.tsx
  src/constants/footer.ts
  src/constants/index.ts
  src/styles/utils.scss
  src/utils/classnames.ts
  src/utils/debounce.ts
  src/utils/helper.ts
Labels: styles:global, feat

#50 fix: genral errors of custom log and precommit
  package.json
  src/utils/customLog.ts
  src/utils/helper.ts
Labels: bug, chore, skip

#51 feat: add the text and icon text components
  package.json
  src/components/common/IconText/IconText.module.scss
  src/components/common/IconText/IconText.tsx
  src/components/common/IconText/index.ts
  src/components/common/Text/Text.module.scss
  src/components/common/Text/Text.tsx
  src/components/common/Text/index.ts
Labels: chore, feat

#53 chore: add manifest and favicon, icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/manifest.json
  public/mstile-144x144.png
  public/mstile-150x150.png
  public/mstile-310x150.png
  public/mstile-310x310.png
  public/mstile-70x70.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  src/pages/_document.tsx
Labels: chore, pages

#56 chore: update meta page data
  public/og_meta_image.jpg
  public/vercel.svg
  src/assets/icons/nexusTokenBgDark.svg
  src/assets/icons/nmc_dark.svg
  src/assets/icons/nmc_light.svg
  src/assets/icons/tokenbgDark.png
  src/assets/icons/tokenbgLight.svg
  src/components/common/PageHeader/PageHeader.tsx
  src/constants/page-meta.ts
  src/pages/_document.tsx
Labels: chore, feat, pages

#57 fix: missing Head tag
  src/pages/_document.tsx
Labels: bug, pages

#58 fix: remove site.webmanifest
  public/manifest.json
  public/og_meta_image.jpg
  public/site.webmanifest
Labels: bug, feat, skip

#59 style: update values to sass var
  src/components/Footer/Footer.module.scss
  src/components/Table/Pagination.module.scss
  src/components/Table/Table.module.scss
  src/components/TokenTable/TokenTable.module.scss
  src/components/common/Brand/Brand.module.scss
  src/pages/_document.tsx
  src/styles/abstracts/_theme.scss
  src/styles/abstracts/_typography.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_default.scss
  src/styles/base/_reset.scss
  src/styles/functions/_getData.scss
  src/views/Home/Homepage.module.scss
Labels: styles:global, pages

#60 style: add theme colors
  src/components/Table/Pagination.module.scss
  src/components/Table/Table.module.scss
  src/styles/abstracts/_theme.scss
  src/styles/functions/_getData.scss
Labels: styles:global

#62 feat: go back from dev mode
  src/views/DevView/DevViewDebug.tsx
Labels: feat, skip

#61 feat: theme toggle component
  src/components/common/ThemeToggle/ThemeToggle.module.scss
  src/components/common/ThemeToggle/ThemeToggle.tsx
  src/components/common/ThemeToggle/index.ts
  src/components/common/index.ts
  src/constants/index.ts
  src/constants/theme.ts
  src/pages/__dev__/index.tsx
  src/styles/abstracts/_theme.scss
  src/styles/abstracts/_variables.scss
  src/styles/functions/_getData.scss
  src/utils/hooks/index.ts
  src/utils/hooks/useDarkMode.ts
  src/utils/hooks/useLocalStorage.ts
Labels: feat, pages

#63 feat: dropdown component
  src/components/common/Dropdown/Dropdown.module.scss
  src/components/common/Dropdown/Dropdown.tsx
  src/components/common/Dropdown/NativeSelect.tsx
  src/components/common/Dropdown/index.ts
  src/pages/__dev__/index.tsx
  src/styles/abstracts/_theme.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_general.scss
  src/utils/classnames.ts
  src/utils/hooks/index.ts
  src/utils/hooks/useOnClickOutside.ts
Labels: feat, pages

#64 refactor: add updated logo
  src/components/common/Brand/Brand.module.scss
  src/components/common/Brand/Brand.tsx
Labels: refactor, feat, skip

#66 feat: add support for ads from strapi
  next.config.js
  src/components/Advertisement/Advertisement.module.scss
  src/components/Advertisement/Advertisement.tsx
  src/utils/i18n.ts
Labels: chore, feat

#67 feat: add DesktopNavbar
  src/assets/translations/en.json
  src/components/Header/Header.tsx
  src/components/common/Dropdown/Dropdown.module.scss
  src/components/common/Dropdown/Dropdown.tsx
  src/components/common/Dropdown/index.ts
  src/components/common/index.ts
  src/pages/__dev__/index.tsx
  src/pages/community.tsx
  src/pages/exchanges.tsx
  src/pages/learn.tsx
  src/store/store.ts
  tsconfig.json
Labels: chore, feat, pages

#65 feat: search page component
  src/components/Header/Header.tsx
  src/components/common/Input/Input.module.scss
  src/components/common/Input/Input.tsx
  src/components/common/SearchBar/SearchBar.tsx
  src/components/common/SearchBar/Searchbar.module.scss
  src/components/common/SearchBar/index.ts
  src/components/common/index.ts
  src/pages/__dev__/index.tsx
  src/styles/abstracts/_theme.scss
  src/styles/abstracts/_typography.scss
  src/styles/base/_general.scss
  src/styles/base/_reset.scss
  src/views/Layout/Layout.tsx
Labels: feat

#71 fix: theme icon is miss match with theme
  src/components/common/ThemeToggle/ThemeToggle.tsx
  src/utils/hooks/useMediaQuery.ts
Labels: bug

#70 ci: update package.json and workflow
  .github/labeler.yml
  package.json
Labels: chore, skip

#69 feat: add arrow position cutomisation
  src/components/common/Dropdown/Dropdown.module.scss
  src/components/common/Dropdown/Dropdown.tsx
  src/pages/__dev__/index.tsx
Labels: feat, pages

#74 feat: static ISR generation for the homepage Fixes #72
  src/components/Advertisement/Advertisement.tsx
  src/components/TokenTable/TokenTable.tsx
  src/constants/index.ts
  src/fetch/fetch.ts
  src/fetch/interfaces.ts
  src/pages/index.tsx
  src/views/Home/Homepage.tsx
Labels: bug, feat, pages

#76 feat: add inter fonts
  src/pages/index.tsx
  src/styles/abstracts/_fonts.scss
  src/styles/base/_reset.scss
Labels: feat, pages

#77 feat: add new footer
  src/assets/icons/footer/app-store.svg
  src/assets/icons/footer/nexus-wallet.svg
  src/assets/icons/footer/playstore.svg
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/TickerBar/TickerBar.module.scss
  src/constants/footer.ts
Labels: feat, pages

#78 feat: add dark theme
  src/components/Advertisement/Advertisement.module.scss
  src/components/Header/Header.module.scss
  src/components/Table/Table.module.scss
  src/components/TickerBar/TickerBar.module.scss
  src/components/TokenTable/TokenTable.module.scss
  src/components/TokenTable/TokenTable.tsx
  src/styles/abstracts/_theme.scss
Labels: feat, pages

#79 feat: add react hot toast modules
  package.json
  src/components/common/Toast/Toast.tsx
  src/components/common/Toast/index.ts
  src/constants/index.ts
  src/constants/toasts.ts
  src/modules/react-hot-toast/components/checkmark.tsx
  src/modules/react-hot-toast/components/error.tsx
  src/modules/react-hot-toast/components/loader.tsx
  src/modules/react-hot-toast/components/toast-bar.tsx
  src/modules/react-hot-toast/components/toast-icon.tsx
  src/modules/react-hot-toast/components/toaster.tsx
  src/modules/react-hot-toast/core/store.ts
  src/modules/react-hot-toast/core/toast.ts
  src/modules/react-hot-toast/core/types.ts
  src/modules/react-hot-toast/core/use-toaster.ts
  src/modules/react-hot-toast/core/utils.ts
  src/modules/react-hot-toast/headless/index.ts
  src/modules/react-hot-toast/index.ts
  src/pages/__dev__/index.tsx
  src/views/Layout/Layout.tsx
  tsconfig.json
  yarn.lock
Labels: feat
